body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karma", sans-serif;
}

.top-menu {
  width: 100%;
  height: auto;
  display: inline-flex;

  .top-menu-1 {
    width: 80%;
    height: auto;
    margin: 2% 0% 0% 10%;
    display: inherit;

    .title {
      margin: auto;
      width: 10%;
      font-size: 20px;
      text-align: center;
      justify-self: center;
      margin-left: 44%;
    }

    .logOutButton {
      color: rgba(128, 128, 128, 0.578);
      width: 10%;
      height: auto;
      font-size: 20px;
      font-family: "Times New Roman", Times, serif;
      background-color: #d6d5d5;
      border-radius: 25px;
      text-align: center;
      float: right;
      // float: right;
      // margin-top: 1%;
    }
  }
}

.add-data {
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 25px;
  margin-left: 30vh;
}

.menu-search {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 1%;

  .input-search {
    // width: 18%;
    float: right;
    display: flex;
  }

}

.ket-qua-tra-ve {
  margin: auto;
  width: 21%;
  height: auto;
  padding: 22px 59px 22px 60px;
  background-color: gray;
}

.main-content {
  width: 100%;
  display: inline-flex;
  // padding-top: 2%;

  .list-content-left {
    width: 100%;
    height: auto;
    padding-left: 12%;

    .list-news {
      width: 21%;
      height: auto;
      padding: 22px 59px 22px 60px;
      margin: 2px;
      background-color: gray;

      .news {
        width: 100%;
        height: 60px;
        margin: 1%;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: white;
      }
    }
  }

  // .list-content-right {
  //   width: 90%;
  //   height: auto;
  // }
}




.img-list-detail {
  // background-color: #f0eeeea6;
  padding: 2px;

  img {
    width: 50%;
    height: 240px;
  }
}

div {
  border: 0.1px red solid;
}
